:root {
  --uno-colors-primary: theme('colors.primary');
  --uno-colors-background: theme('colors.background');
  --uno-fonts-ui: theme('fontFamily.ui');
  --uno-colors-shadow: theme('colors.shadow');

  --table-border: #42536b;
  --table-bg: #ffffff;
  --header-bg: #42536b;
  --header-color: #ffffff;
  --hover-bg: #eaebee;
}
html {
  --at-apply: antialiased;
  --at-apply: 'bg-background c-primary font-ui text-shadow-color-shadow';

  text-shadow: 1px 1px 1px var(--uno-colors-shadow);
  background-size: 7px 7px;
  background-image: linear-gradient(to right, var(--uno-colors-shadow) 1px, transparent 1px),
    linear-gradient(to bottom, var(--uno-colors-shadow) 1px, transparent 1px);

  body {
    font-family: "LXGW WenKai";
    font-weight: normal;
  }
}
html.dark {
  --table-border: #2e2f2f;
  --table-bg: #424343;
  --header-bg: #2e2f2f;
  --header-color: #ffffff;
  --hover-bg: #575858;
}

:where(a):not(.not-underline-hover):not([data-fancybox]) {
  --at-apply: 'p-1.5px';
  --at-apply: 'ease-in-out duration-300ms';
  --at-apply: 'hover:(c-background bg-primary decoration-primary)';
}

.prose {
  max-width: 70ch;
}

.not-prose {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 2px;
}

article.prose h1 a:not(.not-prose),
article.prose h2 a:not(.not-prose),
article.prose h3 a:not(.not-prose),
article.prose h4 a:not(.not-prose),
article.prose h5 a:not(.not-prose),
article.prose h6 a:not(.not-prose) {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .markdown-alert {
    --color-border-default: #30363d;
    --color-accent-fg: #58a6ff;
    --color-accent-emphasis: #1f6feb;
    --color-danger-fg: #f85149;
    --color-danger-emphasis: #da3633;
    --color-attention-fg: #d29922;
    --color-attention-emphasis: #9e6a03;
    --color-done-fg: #a371f7;
    --color-done-emphasis: #8957e5;
    --color-success-fg: #3fb950;
    --color-success-emphasis: #238636;
  }
}

@media (prefers-color-scheme: light) {
  .markdown-alert {
    --color-border-default: #d0d7de;
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-danger-fg: #d1242f;
    --color-danger-emphasis: #cf222e;
    --color-attention-fg: #9a6700;
    --color-attention-emphasis: #9a6700;
    --color-done-fg: #8250df;
    --color-done-emphasis: #8250df;
    --color-success-fg: #1a7f37;
    --color-success-emphasis: #1f883d;
  }
}

.markdown-alert {
  border-left: .25em solid var(--borderColor-default, var(--color-border-default));
  color: inherit;
  margin-bottom: 16px;
  padding: .5rem 1em
}
.markdown-alert>:last-child {
  margin-bottom: 0!important
}
.markdown-alert .markdown-alert-title {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1
}
.markdown-alert .markdown-alert-title svg.octicon {
  margin-right: 8px!important;
  margin-right: var(--base-size-8,8px) !important;
  fill: currentColor;
}
.markdown-alert.markdown-alert-note {
  border-left-color: var(--borderColor-accent-emphasis,var(--color-accent-emphasis))
}
.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: var(--color-accent-fg);
  color: var(--fgColor-accent,var(--color-accent-fg))
}
.markdown-alert.markdown-alert-tip {
  border-left-color: var(--borderColor-success-emphasis,var(--color-success-emphasis))
}
.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: var(--color-success-fg);
  color: var(--fgColor-success,var(--color-success-fg))
}
.markdown-alert.markdown-alert-important {
  border-left-color: var(--borderColor-done-emphasis,var(--color-done-emphasis))
}
.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: var(--color-done-fg);
  color: var(--fgColor-done,var(--color-done-fg))
}
.markdown-alert.markdown-alert-warning {
  border-left-color: var(--borderColor-attention-emphasis,var(--color-attention-emphasis))
}
.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: var(--color-attention-fg);
  color: var(--fgColor-attention,var(--color-attention-fg))
}
.markdown-alert.markdown-alert-caution {
  border-left-color: var(--borderColor-danger-emphasis,var(--color-danger-emphasis))
}
.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: var(--color-danger-fg);
  color: var(--fgColor-danger,var(--color-danger-fg))
}

.katex-display {
  min-height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.katex-display::-webkit-scrollbar {
  display: none;
}
.katex-display:hover::-webkit-scrollbar {
  display: block;
}

.expressive-code {
  margin-bottom: 1.5rem;
}

article.prose table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  table-layout: fixed;
  border: 1px solid var(--table-border);
}

article.prose th,
article.prose td {
  border-left: 1px solid var(--table-border);
  border-right: 1px solid var(--table-border);
  width: 1%;
  background-color: var(--table-bg);
}

article.prose th {
  background-color: var(--header-bg);
  color: var(--header-color);
}

article.prose tr:hover td {
  background-color: var(--hover-bg);
}

article.prose th:first-child,
article.prose td:first-child {
  border-left: none;
}

article.prose th:last-child,
article.prose td:last-child {
  border-right: none;
}

@media (prefers-color-scheme: light) {
  .fancybox__backdrop {
    background: rgba(255, 255, 255, 0.9) !important;
  }
  .fancybox__caption {
    color: #333333 !important;
    background: rgba(255, 255, 255, 1.0) !important;
  }
  .fancybox__thumbs {
    background: rgba(255, 255, 255, 1.0) !important;
  }
}

@media (prefers-color-scheme: dark) {
  .fancybox__backdrop {
    background: rgba(0, 0, 0, 0.9) !important;
  }
  .fancybox__caption {
    color: #ffffff !important;
    background: rgba(0, 0, 0, 0.0) !important;
  }
  .fancybox__thumbs {
    background: rgba(0, 0, 0, 0.0) !important;
  }
}
