---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---

<LayoutDefault>
  <article class='prose'>
    <h2>TL;DR</h2>
    <ul>
      <li>ID: CuB3y0nd</li>
      <li>ROAL: PWNER</li>
      <li>TEAM: NO TEAM YET :(</li>
      <li>Personality: INFP-A 1w9</li>
      <li>E-Mail: <code>root -at- assembly -dot- rip</code></li>
      <li>GPG Key: <a href='./public.key'>Download GPG Key</a></li>
      <li>
        <a target='_blank' rel='noopener noreferrer' href='https://memos.cubeyond.net/'>
          语丝：Memos for record life moments.
        </a>
      </li>
    </ul>
  </article>
</LayoutDefault>
