---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---

<LayoutDefault>
  <article class='prose'>
    <h2>TL;DR</h2>
    <ul>
      <li>ID: CuB3y0nd</li>
      <li>ROAL: PWNER</li>
      <li>TEAM: NO TEAM YET :(</li>
      <li>E-Mail: <code>root -at- cubeyond -dot- net</code></li>
      <li>Personality: INFP-A 1w9</li>
    </ul>
  </article>
</LayoutDefault>
