---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---

<LayoutDefault>
  <article class='prose'>
    <h2>友链</h2>
    <ul>
      <li>
        <a target='_blank' rel='noopener noreferrer' href='https://www.cnblogs.com/9man'>.N1nEmAn 师傅的博客</a>
      </li>
      <li>
        <a target='_blank' rel='noopener noreferrer' href='https://www.vernonwu.com/'>Vlex 的博客</a>
      </li>
    </ul>
  </article>
</LayoutDefault>
