---
import { getEntry, render } from 'astro:content'
import LayoutDefault from '~/layouts/LayoutDefault.astro'

const friendsPost = await getEntry('spec', 'friends')
if (!friendsPost) {
  throw new Error('No friends post found')
}
const { Content } = await render(friendsPost)
---

<LayoutDefault>
  <header flex="~ col gap-2">
    <h1 class="post-title">{friendsPost.data.title}</h1>
  </header>
  <article class="prose">
    <Content />
  </article>
</LayoutDefault>

<LayoutDefault>
  <article class='prose'>
  </article>
</LayoutDefault>
